:root {
  --white: #ffffff;
  --whiteRGB: 255, 255, 255;

  --black: #000000;
  --black1RGB: 0, 0, 0;

  --creme: #fef5e8;
  --cremeRGB: 254, 245, 232;

  --red: #fe3c4b;
  --redRGB: 254, 60, 75;

  --green: #6ec9aa;
  --greenRGB: 110, 201, 170;
  --greenDark: #4fa286;
  --greenDarkRGB: 79, 162, 134;
  --greenLight: #81dbbc;
  --greenLightRGB: 129, 219, 188;

  --purple: #694256;
  --purpleRGB: 105, 66, 86;
  --purpleLight: #a6939c;
  --purpleLightRGB: 166, 147, 156;
  --purpleFilter: brightness(0) saturate(100%) invert(28%) sepia(6%) saturate(3836%)
    hue-rotate(277deg) brightness(84%) contrast(78%);

  --orange: #ff962f;
  --orangeRGB: 255, 150, 47;
  --orangeDark: #8e1618;
  --orangeDarkRGB: 142, 22, 24;
  --orangeLight: #ffb26c;
  --orangeLightRGB: 255, 178, 108;

  --pink: #fd9f9f;
  --pinkRGB: 253, 159, 159;
  --pinkDark: #e18888;
  --pinkDarkRGB: 225, 136, 136;
  --pinkLight: #ecded5;
  --pinkLightRGB: 236, 222, 213;

  --greyLight: #dcdcdc;
  --greyLightRGB: 220, 220, 220;

  --borderSmall: 4px;
  --borderMedium: 8px;
  --borderLarge: 16px;
  --borderColor: 1px solid rgba(var(--purpleRGB), 0.2);

  --boxPaddingLarge: clamp(20px, 2vw, 30px) clamp(30px, 2.5vw, 40px);

  --fontSmall: clamp(10px, 1.2vw, 12px);
  --fontMedium: clamp(12px, 1.4vw, 16px);
  --fontLarge: clamp(14px, 1.6vw, 20px);

  --transition0: cubic-bezier(0.47, 0.01, 0.17, 1);
}

// Reset styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--creme);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: normal;
}

#root,
#__next {
  isolation: isolate;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}

// Headers
h1,
h2,
h3 {
  font-family: var(--mont);
  font-weight: 900;
  line-height: 1.2;
}

h4 {
  font-family: var(--mont);
  font-weight: 600;
  line-height: 1.1;
}
