.Button {
  padding: 10px;
  outline: 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius: var(--borderMedium);
  font-family: var(--mont);
  font-weight: 900;
  color: var(--white);
  user-select: none;

  &.green {
    background-color: var(--green);
    border-bottom-color: var(--greenDark);

    &:hover {
      background-color: var(--greenLight);
    }
  }

  &.orange {
    background-color: var(--orange);
    border-bottom-color: var(--orangeDark);
  }

  &.small {
    font-size: var(--fontSmall);
    padding: clamp(6px, 1vw, 10px) clamp(10px, 1.5vw, 18px);
  }

  &.medium {
    font-size: var(--fontMedium);
    padding: clamp(10px, 1vw, 15px) clamp(15px, 1.5vw, 20px);
  }

  &.large {
    font-size: var(--fontLarge);
    padding: 20px 25px;
    border-radius: var(--borderLarge);
  }
}
