.Button {
  padding: 10px;
  outline: 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius: var(--borderMedium);
  font-family: var(--mont);
  font-weight: 900;
  color: var(--white);
  user-select: none;
  transition: all var(--transition0) 0.3s;

  &.green {
    background-color: var(--green);
    border-bottom-color: var(--greenDark);

    &:hover {
      background-color: var(--greenLight);
    }
  }

  &.orange {
    background-color: var(--orange);
    border-bottom-color: var(--orangeDark);

    &:hover {
      background-color: var(--orangeLight);
    }
  }

  &.pink {
    background-color: var(--pink);
    border-bottom-color: var(--pinkDark);

    &:hover {
      background-color: var(--pinkMedium);
    }
  }

  &.small {
    font-size: var(--fontSmall);
    padding: clamp(6px, 1vw, 8px) clamp(7px, 1.5vw, 16px);
  }

  &.medium {
    font-size: var(--fontMedium);
    padding: clamp(10px, 1vw, 15px) clamp(15px, 1.5vw, 20px);
  }

  &.large {
    font-size: var(--fontLarge);
    padding: 20px 25px;
    border-radius: var(--borderLarge);
  }
}
