.Logo {
  position: relative;
  display: flex;
  justify-content: center;

  .iconLogo {
    width: 200px;
    height: auto;
  }
  .textLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--mont);
    font-weight: 900;
    font-size: var(--fontLarge);
    color: var(--purple);
    text-align: center;
    height: auto;
    min-width: 233px;
  }
}
