.CartSummary {
  padding: var(--boxPaddingLarge);
  border: var(--borderColor);
  border-radius: var(--borderLarge);
  $spacer: clamp(10px, 1vw, 20px);

  .header {
    font-family: var(--mont);
    font-weight: 600;
    color: var(--purple);
    font-size: var(--fontLarge);
    margin-bottom: $spacer;
    display: block;
  }

  .header,
  .CartDrinkSelect,
  .PriceList {
    margin-bottom: $spacer;
  }
}

.CartDrinkSelect {
  display: flex;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    transform-origin: center 0;
    background: url("/assets/img/svg/chevron.svg") no-repeat center center;
    filter: var(--purpleFilter);
    opacity: 0.5;
    transition: opacity 0.2s var(--transition0);
  }

  &:hover:after {
    opacity: 1;
  }

  > span {
    font-family: var(--mont);
    font-weight: 600;
    color: var(--purpleLight);
    font-size: var(--fontSmall);
    display: block;
  }

  .select {
    border-radius: var(--borderSmall);
    border: var(--borderColor);
    padding: 10px 15px;
    width: 100%;
    background-color: var(--creme);
    color: var(--purple);
    font-family: var(--mont);
    font-weight: 900;
    font-size: var(--fontMedium);
    cursor: pointer;
    appearance: none;
    transition: border var(--transition0) 0.3s;

    option {
      font-family: var(--mont);
      font-weight: 600;
      color: var(--purple);
      background-color: var(--creme);
      font-size: var(--fontSmall);
    }
    &:hover {
      border-color: rgba(var(--purpleRGB), 1);
    }
  }
}

.PriceList {
  ul {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 0.6vw, 10px);

    li {
      border-radius: var(--borderSmall);
      border: 1px dashed rgba(var(--purpleRGB), 0.2);
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .content {
        display: flex;
        flex-direction: column;

        .name {
          font-family: var(--mont);
          font-weight: 900;
          color: var(--pink);
          font-size: var(--fontSmall);
          text-transform: capitalize;
          line-height: 100%;
        }

        .sub {
          font-family: var(--mont);
          font-weight: 600;
          color: var(--purpleLight);
          font-size: var(--fontSmall);
          line-height: 100%;
        }

        .empty {
          padding: 5px 0;
        }
      }

      .controls {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        .price {
          white-space: nowrap;
          font-family: var(--mont);
          font-weight: 900;
          color: var(--purple);
          font-size: var(--fontSmall);
        }

        .remove {
          flex-shrink: 0;
          width: 10px;
          filter: var(--purpleFilter);
          opacity: 0.8;
          transition: opacity 0.2s var(--transition0);

          &:hover {
            opacity: 1;
          }

          svg {
            width: 100%;
          }
        }
      }
    }
  }
}

.CartControls {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
